/*结构样式*/
* {
    margin: 0;
    padding: 0;
}

.body {
    position: relative;

}

/* 登录框 */
.bodymask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1051;
    background: rgba(0, 0, 0, 0.7);
}

.formsbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myformsbox {
    display: none;
    position: relative;
    background-color: transparent;
    color: white;
    top: 0px;
    right: 5px;
    padding-bottom: 8px;
}

.myform-item {
    opacity: .8;
    color: white;
}

.myform-item:hover {
    opacity: 1;
    color: white;

}

.loginforms {
    width: 32.5rem;
    height: 25.75rem;
    padding: .625rem 1.25rem;
    background-color: white;
    z-index: 5;
    box-shadow: 1px 1px 1px #A0A0A0;
}

.logincardbox {
    margin: 0 auto;
    width: 286px;
}

/*** 文中居中线两端**/
.linecenter {
    width: 100%;
    font-size: 16px;
    color: #999;
    margin: .625rem auto;
    position: relative;
    text-align: center;
}

.linecenter:before,
.linecenter:after {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 50px;
    top: 8px;
}

.linecenter:before {
    left: 0;
    /*调整背景横线的左右距离*/
}

.linecenter:after {
    right: 0;
}

/******************/
/* 详情模态框 */
.detailbox {
    width: 80%;
    margin: 0 auto;

}

.detail-describe {
    text-indent: 2rem;
    opacity: .8;
    letter-spacing: .3rem;
}

/* 自定义加入提示框 */
.myjoin {
    z-index: 1051;
    position: fixed;
}

.top-navigation {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

.login {
    border: 1.4px solid white;
    border-radius: 20%;
    padding: .3125rem;
    color: white;
    text-align: center;
    display: none;
}

/* 创建项目 */
.modal-project-item {
    display: flex;
    width: 80%;
    margin: 32px auto;
}

.head-background {
    width: 100%;
    height: 25rem;
    background-color: #00AEEF;
}

.head-background-img {
    width: 250px;
    height: 188px;
    margin-top: 60px;
    margin-left: 520px;
    transform: rotate(270deg);
}

/* 选项卡 */
.nav-tabs-box {

    position: relative;
    margin-bottom: -8rem;
    bottom: 300px;
    width: 100%;
    background-color: transparent;
}

.nav-ul {
    margin-bottom: 20px;
    display: flex;
    color: #fff;
}

.nav-li {
    color: #fff;
    margin-right: 32px;
    padding: 18px 0;
    opacity: .5;
    text-shadow: 2px 2px 4px #000;
}

.nav-li:hover {
    color: #fff;
}

/* 主题内容 */
.main-box {
    position: relative;
    margin-bottom: -9rem;
    padding: 2.8125rem;
    bottom: 180px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.main-box::after {
    height: 50px;
    width: 50%;
    content: "";
    position: relative;
    background: white;
    bottom: 0px;
    left: 10px;
    right: 10px;
    /*设置副阴影在主阴影的下面*/
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-radius: 100px/10px;
}

/* 按钮 */
/* 创建按钮 */
.btn-addbox {
    position: absolute;
    right: 45px;
    top: -25px;
    z-index: 4;
}

.btn-add {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: tomato;
    box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-addbox:hover .add-menu {
    height: 160px;
}

.add-menu {
    background: rgba(146, 145, 145);
    padding: 30px 0 5px 0;
    border-radius: 0 0 50px 50px;
    transition: height .3s;
    height: 0;
    margin-top: -35px;
    overflow: hidden;
}

/* 消息按钮 */
.btn-informationbox {
    position: absolute;
    right: 125px;
    top: -25px;
    z-index: 4;
}

.btn-information {

    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: purple;
    color: #fff;
    box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.3);

}

.info-num {
    position: relative;
    top: -60px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background: red;
    color: whitesmoke;
}

/*************/
.main-content {
    width: 100%;
    min-height: 500px;
}

.main-content-left {
    width: 15%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.main-content-right {
    width: 85%
}

.left-nav-ul {
    margin: 10px 0px 0px 10px;
}

.left-nav-li {
    margin: 10px 0px 0px 32px;
}

.left-nav {
    margin-bottom: 10px;
    color: #5BC0DE;
}

.right-box {
    width: 100%;
    height: 100%;
    margin: 0 0 0 2rem;
}

.project-item {
    margin-bottom: 2rem;
}

/* 个人信息 */
.my-mask {
    display: none;
}

.my-mask-box:hover .my-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 5;
    display: block;
    background: rgba(0, 0, 0, .5);
}

/* 卡片 */
.my-card {
    margin: 1rem 0;
}

.card-img {
    height: 280px;
    padding: .125rem;
    border-radius: .25rem;
}

.card-text {
    font-size: .9rem;
    display: -webkit-box;
    /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical;
    /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2;
    /** 显示的行数 **/
    overflow: hidden;
    /** 隐藏超出的内容 **/
    word-break: break-all;
    text-overflow: ellipsis;
}

.avatar {
    size: .625rem;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
}

.myModal-box-info,
.myModal-box-change {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0;
}

.my-modal {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: transparent;
    /* 鼠标穿透*/
    /* pointer-events: none;  */
}

.h3 {
    padding-left: 0.9375rem;
}

.buttom-box {
    background-color: #2c3338;
    color: #fff;
    padding: 0 0 20px 0;
}

.bottom-left {
    width: 60%;
    margin: 0;
}

.bottom-right {
    width: 30%;
    margin: 0;
}

.bottom-item {
    margin: 30px 0;
    font-size: 0.7rem;
    opacity: .5;

}

/*结构样式*/

/*svg图标设置*/
.icon {
    color: #2c3338;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;

}

/*svg图标设置*/

/* 通用样式*/
/*
#428BCA primary
#5CB85C success
#5BC0DE info
#F0AD4E warning
#D9534F danger 
#343A40 top-navigation
#F9F009 logle
*/
/* 按钮透明 */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    box-shadow: none;
}

.btn-color {
    background-color: transparent;
    padding: 0;
}

.click-icon {
    cursor: pointer;
}

.navigate-icon {
    font-size: 2.2rem;
    opacity: .5;
    cursor: pointer;
    position: fixed;
    bottom: 90px;
    right: 50px;
    z-index: 5;
    border-radius: 10%;
    background: rgba(255, 2555, 255, .6)
}

.navigate-icon:hover {
    opacity: .8;
}

.label {
    background-color: transparent;
    color: rgba(225, 255, 255, .8);
    cursor: pointer;
    padding: 1px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    box-shadow: 1px 1px 1px rgb(203, 205, 206);
}

.label:hover {
    color: rgba(225, 255, 255, 1);
    box-shadow: 1px 1px 1px rgb(203, 205, 206);
}

.label-check:checked+.label {
    color: rgba(225, 255, 255, 1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

/* 行内垂直水平居中 */
.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 输入框 */
.inputbox {
    width: 100%;
    height: 2.375rem;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0 .625rem;
}

/**加粗*/
b {
    opacity: .8;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.my-font {
    opacity: .8;
    color: #2c3338;
    font-weight: bold;
}

.a-nav {
    opacity: .8;
    color: #2c3338;
    cursor: pointer;
}

.a-nav:hover {
    opacity: 1;
    cursor: pointer;
}

.a-navr {
    opacity: .8;
    color: whitesmoke;

}

.a-navr:hover {
    opacity: 1;
    color: whitesmoke;
}


/**垂直居中**/
.aflexcenter {
    display: flex;
    align-items: center;
}

/*横向对称布局*/
.flex-justfiy {
    display: flex;
    justify-content: space-between;
}

/* 堆叠居中布局 */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*未读消息样式点*/

.unread-point {

    background: red;
    width: 5px;
    height: 5px;
    color: whitesmoke;
    border-radius: 50%;
    margin: 5px;
}

/* 分割线 */
.cut-line {
    width: 100%;
    height: 1px;
    padding: 0;
    background: rgba(0, 0, 0, .1);
}

/* 省略号 */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 通用样式*/

/* 小屏幕 */
@media screen and (max-width:970px) {
    .header-box {
        width: 100%;
        /* padding: auto 0; */
    }

    .main-box {
        padding: .3125rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

/* 小屏幕 */